<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RickySQLTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
  </appSettings>
  <userSettings>
    <RickySQLTools.Properties.Settings>
      <setting name="DefConnectionString" serializeAs="String">
        <value>Server=192.168.137.1\SQLExpress; DataBase=TSSO; uid=sa;pwd=P@ssw0rd</value>
      </setting>
      <setting name="Progs" serializeAs="String">
        <value>&lt;?xml version="1.0" standalone="yes"?&gt;
&lt;Programs&gt;
  &lt;Progs&gt;
    &lt;ProgID&gt;frmTables&lt;/ProgID&gt;
    &lt;ProgName&gt;Tables&lt;/ProgName&gt;
    &lt;ModuleName&gt;RickySQLTools&lt;/ModuleName&gt;
    &lt;SEQ&gt;2&lt;/SEQ&gt;
  &lt;/Progs&gt;
  &lt;Progs&gt;
    &lt;ProgID&gt;frmXmlCompare&lt;/ProgID&gt;
    &lt;ProgName&gt;Xml Compare&lt;/ProgName&gt;
    &lt;ModuleName&gt;RickySQLTools&lt;/ModuleName&gt;
    &lt;SEQ&gt;3&lt;/SEQ&gt;
  &lt;/Progs&gt;
  &lt;Progs&gt;
    &lt;ProgID&gt;frmFakeData&lt;/ProgID&gt;
    &lt;ProgName&gt;Fake Data&lt;/ProgName&gt;
    &lt;ModuleName&gt;RickySQLTools&lt;/ModuleName&gt;
    &lt;SEQ&gt;4&lt;/SEQ&gt;
  &lt;/Progs&gt;
  &lt;Progs&gt;
    &lt;ProgID&gt;frmPOCOGenrator&lt;/ProgID&gt;
    &lt;ProgName&gt;POCO Gen&lt;/ProgName&gt;
    &lt;ModuleName&gt;RickySQLTools&lt;/ModuleName&gt;
    &lt;SEQ&gt;5&lt;/SEQ&gt;
  &lt;/Progs&gt;
&lt;/Programs&gt;</value>
      </setting>
      <setting name="DefNamespace" serializeAs="String">
        <value>RickySQLTools.Models</value>
      </setting>
      <setting name="DefUsing" serializeAs="String">
        <value>using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.ComponentModel.DataAnnotations;</value>
      </setting>
      <setting name="DefIncludeAttr" serializeAs="String">
        <value>True</value>
      </setting>
    </RickySQLTools.Properties.Settings>
  </userSettings>
</configuration>
