<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="ConnectSQLString" value="Server=192.168.1.254\SQLExpress; DataBase=TSSO; uid=sa;pwd=P@ssw0rd"/>
  </appSettings>
</configuration>